:root {
    --main-color: color(srgb 0.667 0.271 0.929);;
    --second-color: color(srgb 0.522 0.145 0.812);;
    --gap-default: 2em;
    --border-radius-default: 12px;
    --navbar-diff-exact: 55px;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('fonts/TeXGyreAdventor-Regular.woff2') format('woff2'),
       url('fonts/TeXGyreAdventor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('fonts/TeXGyreAdventor-Bold.woff2') format('woff2'),
       url('fonts/TeXGyreAdventor-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('fonts/TeXGyreAdventor-Italic.woff2') format('woff2'),
       url('fonts/TeXGyreAdventor-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('fonts/TeXGyreAdventor-BoldItalic.woff2') format('woff2'),
       url('fonts/TeXGyreAdventor-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'TeX Gyre Adventor', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    scrollbar-gutter: auto;
    overflow-y: auto;
}

header {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: thin; 
    scrollbar-color: var(--second-color) white; /
}

article {
    content-visibility: auto;
}

:target {
    animation: highlight 2s ease-in-out;
}

@keyframes highlight {
    0% { 
        background-color: var(--main-color); 
    }
    100% { 
        background-color: transparent; 
    }
}

                                        /*navbar*/

nav {
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--main-color, #aa45ed);
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-default);
    padding: 1.25em;
    z-index: 10;

    a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius-default);
    transition: background-color 0.3s, color 0.3s;
    }
    
    a:hover {
    background-color: var(--second-color, #8525cf);
    }
}

.menu-toggle {
    display: none;
}

.hamburger {
    font-size: 1.3em;
    display: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .hamburger {
        display: block; 
    }

    .nav-links{
        display: none; 
        position: absolute;
        top: 50px; 
        left: 0;
        width: 100%;
        background-color: var(--main-color, #aa45ed);
        flex-direction: column;
        align-items: center;      
        justify-content: center;
        padding: 1em 0;             
        margin: 0;                  
        box-sizing: border-box; 
    }



    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }
}

hr {
    width: 90%;
}
                                        /*home page banner/pfp*/
#pfp {
    border: 1px black solid;
    width: clamp(100px, 15vw, 700px);
    height: clamp(100px, 15vw, 700px);
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.banner {
    margin-top: var(--navbar-diff-exact);
    position: relative;
    height: 50vh;
    background-image: url('images/placeholder.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.banner {
    margin-top: var(--navbar-diff-exact);
    position: relative;
    height: 50vh;
    background-image: url("images/banner/banner.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .banner {
        background-image: url("images/banner/banner_small.webp");
    }
}

.intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 0 auto; 
    padding: 0.25rem;            
}
                                        /*professional section group of links and link buttons*/
#top {
    scroll-margin-top: 100px; 
}

#education, #projects, #certifications {
    scroll-margin-top: 72px; 
}

.linkgroup{
    display: flex;     
    flex-wrap: wrap;               
    justify-content: center;          
    align-items: center;              
    gap: var(--gap-default);   
    
    a:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 18px var(--second-color, #8525cf);
        background-color: var(--second-color, #8525cf);
        color: white;
    }

    a:active {
        transform: translateY(0); 
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
}

.linkbutton {
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 10rem; 
    padding: 0.5em; 
    background-color: white;
    text-decoration: none;
    border-radius: var(--border-radius-default);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--second-color);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 18px var(--second-color, #8525cf);
        background-color: var(--second-color, #8525cf);
        color: white;
    }
}

.profsection {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 1em;

    h2 {
        margin-top: -10px;
        font-size: 1.5em;
    }
}

iframe {
    width: 100%;
    max-width: 600px;  
    height: 80vh;
    max-height: 800px;
    border: none;
}

                                        /*educational section*/

.descgrid {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    gap: var(--gap-default); 
}

.descimg {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: var(--border-radius-default);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.aboutimg {
    width: 100%;
    max-width: 450px;
    min-width: 100px;
    height: auto;
    border-radius: var(--border-radius-default);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.desctext {
    text-align: left;
    flex: 1; 
    line-height: 1.6;
}

.desccontent {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex: 1; 
    text-align: left;  
    width: 100%; 
}

@media (max-width: 600px) {
    .descgrid {
        flex-direction: column;  
        align-items: center;     
        text-align: center;      
    }

    .desctext {
        text-align: center; 
        width: 100%;      
    }

    .aboutimg, .descimg {
        width: 100%;
        min-width: 100px;
    }

    .descgrid picture {
        order: -1;  
    }


}

                                        /*Layout for cards (projects and certifications)*/
.module-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: var(--gap-default);
    padding: 0 20px;
    justify-items: center;                    
}

.module-card {
    display: flex;
    flex-direction: column;       
    align-items: center;      
    max-width: 450px;
    max-height: 450px;
    color: black;  
    background-color: white;
    text-decoration: none;        
    border-radius: var(--border-radius-default);
    padding: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s, box-shadow 0.25s;

    img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-default);
        margin-bottom: 15px;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 18px var(--second-color, #8525cf);
        background-color: var(--second-color, #8525cf);
        color: white;
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        background-color: var(--second-color, #8525cf);
        color: white;
    }
}

                                        /*contact section*/
.contactsection {
    text-align: center;
}

#contactform fieldset {
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}

#contactform label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
    margin: 10px;
    width: 100%;
}

#contactform input,
#contactform textarea,
#submitbutton {
    width: 100%;            
    max-width: 350px;       
    box-sizing: border-box; 
}

#submitbutton { 
    margin-top: 10px;   
    border: hidden;    
    font-family: 'TeX Gyre Adventor', sans-serif;
}


                                        /*about page*/
#quotegen {
    display: flex;
    flex-direction: column;      
    align-items: center;        
    text-align: center;         
    margin: 40px auto;           
    max-width: 800px;  
    min-width: 300px;          
    width: 80%;                  
    border-radius: var(--border-radius-default);

    blockquote {
        margin: 0 0 1.5rem 0;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        word-wrap: break-word;
    }

    cite {
        display: block;
        font-style: italic;
        color: black;
    }
}

#new-quote {
    border: hidden;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 10rem; 
    padding: 0.5em; 
    background-color: white;
    text-decoration: none;
    border-radius: var(--border-radius-default);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--second-color);
    font-family: 'TeX Gyre Adventor', sans-serif;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 18px var(--second-color, #8525cf);
        background-color: var(--second-color, #8525cf);
        color: white;
    }
}

#boy-scouts, #taekwondo, #badminton {
    scroll-margin-top: 120px; 
}